*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lavender;
    font-family: sans-serif;
}

.color{
    color: #0088cc;
}

.flex{
    display: flex;
}

.header{
    background-color: #0088cc;
    position: relative;
}

.header-left{
    padding: 10px;
}

.logo{
    margin: 0px 15px;
}

.msg{
    color: white;
    padding-top: 5px;
    font-size: 15px;
}

.header_right{
    position: absolute;
    right: 30px;
    padding:15px 10px 10px 10px;
    color: white;
}

.signup,.login{
    margin-right: 30px;
}

.signuplogo, .loginlogo{
    margin-right: 5px;
}

.signimg{
    width: 15px;
    padding-top: 1px;
}

.loginimg{
    width: 17px;
}

.main{
    width: 585px;
    margin: 100px 0px 120px 358px;
}

.form{
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

.formSide{
    background-color: #0088cc;
    padding: 175px 55px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.signmsg{
    font-size: 13px;
}

.signlink{
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}

.form_login{
    padding: 0px 20px;
}

.logintext{
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.text{
    padding: 15px;
    border-style: none none solid none;
    border-width: thin;
    margin-bottom: 20px;
    background-color: transparent;
    width: 370px;
}

.submit{
    margin-left: 45px;
    width: 300px;
    border-radius: 15px;
    background-color: transparent;
    border-color: #0088cc;
    padding: 7px;
    cursor: pointer;
}

.link{
    justify-content: center;
}

.error{
    color: red;
    font-size: 10px;
    font-weight: bold;
    visibility: hidden;
}

.optional{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 15px;
}

.optional a{
    text-decoration: none;
    color:#0088cc;
}

.linkimg{
    margin-right: 10px;
}

.myform{
    margin-bottom: 30px;
}

.signupSide{
    background-color: #0088cc;
    padding: 241px 55px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.content{
    margin: 25px 90px;
}

.contentTop{
    background-color: white;
    padding: 10px 20px 10px 0px;
    margin-bottom: 20px;
}

.contentImg{
    justify-content: flex-end;
}

.download{
    padding-right: 10px;
    cursor: pointer;
}

.userContent{
    background-color: white;
    padding: 15px;
    max-height: 175px;
}

.loginuser{
    margin: 0px 0px 10px 10px;
}

.create{
    padding: 3px;
    color: white;
    background-color: #0088cc;
    border-radius: 20px;
    border-width: thin;
    border: transparent;
    font-size: 10px;
    cursor: pointer;
}

.contact{
    background-color:skyblue; 
    margin:20px 20px 0px 30px
}

.modalCreate{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.personal{
    margin: 20px 45px 6px 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.psnlmsg{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}

.formData{
    margin: 20px 45px 6px 30px; 
}

.nameMain{
    color: #0088cc;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}

.select{ 
    width: 90px;
    padding: 5px;
    margin-right: 27px;
    border-style: solid none;
}

.fname{
    width: 100px;
    padding: 4px;
    border-style: solid none;
    border-width: thin;
    margin-right: 27px;
}

.row2,.upload,.row3{
    margin-top: 15px;
}

.gender{
    width: 158px;
    padding: 5px;
    border-style: solid none;
    margin-right: 27px;
}

.date{
    width: 160px; 
    padding: 2px;
    border-style: solid none;
    border-width: thin;
    margin-right: 27px;
}

.file{
    padding: 3px;
    border-style: solid none;
    border-width: thin;
    width: 200px;
    font-size: 12px; 
}

.contdetails{
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.editSubmit{
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #0088cc;
    margin-left: 147px;
    border: 2px solid #0088cc;
    border-radius: 20px;
    cursor: pointer;
}

.modalimg{
    width: 100px;
    border-radius: 50px;
}

.imgwidth{
    margin: 150px 30px;
}

.cancel{
    text-decoration: none;
}

.contentList{
    background-color: white;
    width: 1015px;
    margin-left: 25px;
}

.conttable{
    border-collapse: collapse;
    font-size: 13px;
}

.conttr{
    border-bottom: 1px solid #ddd;
}

.conttd{
    padding: 15px;
    column-width: 115px;
    color: black;
}

.contth{
    padding: 20px;
    column-width: 115px;
}

.edtviwimg{
    width: 70px;
    border-radius: 35px;
}

.edit{
    padding: 5px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    border-color: #0088cc;
    border-width: thin;
    background-color: white;
}

.edit:hover{
    background-color: #0088cc;
}

.editclose{
    background-color: white;
    font-size: 14px;
    border-color: #0088cc;
    margin:15px 0px 0px 145px;
    padding: 5px;
    width: 80px;
    border-radius: 20px;
}

.editclose:hover{
    background-color: #0088cc;
}

.allAboutCreate{
    margin: 25px;
    width: 400px;
    text-align: center;
    background-color: skyblue;
    padding: 5px;
    font-weight: bold;
}

.pdf{
    background-color: white;
}

.pdfdtl{
    text-align: center;
    color:cornflowerblue;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px 0px;
}

.pdftable{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

.pdflist{
    font-size: 14px;
    color: #0088cc;
    padding: 5px;
}

.pdftd{
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

.userImg{
    padding-left: 30px;
}

.display{
    padding-bottom: 10px;
}

.pdftdprnt{
    padding: 10px 5px;
    column-width: 70px;
    text-align: center;
    font-size: 12px;
}

.viewTable{
    margin-left: 30px;
    font-size: 13px;
}

.viewtd{
    color: #0088cc;
    font-weight: bold;
}

.listdata{
    padding-bottom: 10px;
}

.tddot{
    padding-left: 20px;
}

.close{
    background-color: white;
    font-size: 14px;
    border-color: #0088cc;
    margin:20px 0px 0px 185px;
    padding: 5px;
    width: 80px;
    border-radius: 20px;
}

.close:hover{
    background-color: #0088cc;
}

#print{
    visibility: hidden;
}

.printdtl{
    text-align: center;
}

.printtable{
    margin-left: 30px;
}

.printtr{
    padding: 10px 0px;
}

.bottom {
    margin-top: 20px;
}